
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes swingInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
}

@-moz-keyframes swingInX {
    0% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
}

@-o-keyframes swingInX {
    0% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
}

@keyframes swingInX {
    0% {
        transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        transform: perspective(400px) rotateX(0deg)
    }
}

.animated.swingInX {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ie-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: swingInX;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: swingInX;
    -o-backface-visibility: visible !important;
    -o-animation-name: swingInX;
    backface-visibility: visible !important;
    animation-name: swingInX
}

@-webkit-keyframes swingOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
}

@-moz-keyframes swingOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
}

@-o-keyframes swingOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
}

@keyframes swingOutX {
    0% {
        transform: perspective(400px) rotateX(0deg)
    }
    100% {
        transform: perspective(400px) rotateX(-90deg)
    }
}

.animated.swingOutX {
    -webkit-transform-origin: top;
    -webkit-animation-name: swingOutX;
    -webkit-backface-visibility: visible !important;
    -moz-animation-name: swingOutX;
    -moz-backface-visibility: visible !important;
    -o-animation-name: swingOutX;
    -o-backface-visibility: visible !important;
    animation-name: swingOutX;
    backface-visibility: visible !important
}

.header {
    background-color: white;
}

#user{
    margin-right: 50px;
}

.lin {
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #ddd;
}

.tit {
    width:170px;
    margin: 0 auto;
    position: relative
}

.tr2{
    width:100%;
}
.form-login{
    margin-top: 30px;
}

.form-regist{
    margin-top: 30px;
    margin-left: 20%;
    width: 120%;
}

.line{
    width: 49.5%;
    height: 200px;
    border-right: 2px solid #ddd;
}

.form{
    background-color: white;
}

.item-bottom{
    margin-bottom: 1px;
}

.img-max{
    width: 100%;
}

.item-lg{
    width: 80%;
}

.item-md{
    width: 50%;
}

.item-sm{
    width: 10%;
    border: 1px #d4d4d4 solid;
}

.banner{
    width: 100%;
    height: 60px;
    margin-top: 50px;
    background-color: #00ccff;
}

.func{
    opacity: 0.5;
}

.func:hover{
    opacity: 1;
}

.option{
    border-radius:0 ;
}

.profile-left{
    float: left;
    width: 200px;
    height: 640px;
    border: 2px #d4d4d4 solid;
    border-top: 0;
    color: black;
}

.list{
    opacity: 0.5;
    width: 80%;
    transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}

.list:hover{
    width: 100%;
    opacity: 1;
}

.profile-left  img{
    width: 100%;
}

.profile-right{
    float: right;
    width: 900px;
    height: 640px;
    background-color: #00ccff;
}